.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 50px;
    background-color: transparent;
    z-index: 1;
    
    font-weight: 600;
    font-size: 35px;
}
.active{
    background-color: black;
}
.title{
    padding-left: 15px;
    padding-top: 3px;
}
.menu{
    float: right;
    display: flex;
   margin: 0px;
   margin-top: 5px;
   font-size: 20px;
   height: 100%;   
}
li:hover{
    transform: scale(1.02);
    color: rgb(197, 193, 189);
}
li{
    list-style-type: none;
    margin-right: 15px;
    transition: transform 500ms;
}
li a:-webkit-any-link {
    color: white;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}
.title img{
    /* background-image: url(https://media.wired.com/photos/592682057034dc5f91bebab8/4:3/w_929,h_697,c_limit/NetflixLogo2016.jpg);
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px; */
    margin-top: 5px;
}